
/*-----------------*/

footer {
    background-color: #2F3136;
    font-family: sans-serif;
    color: #FFF;
    text-align: start;
    padding:0px 50px;
    line-height: 100px;
}

/*-----------------*/
