{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/500.css' %}">
    <link rel="stylesheet" href="{% static 'css/fundo.css' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon-erro.svg' %}" type="image/x-icon">

    <title>Erro</title>

</head>
<body>

<div class="container">
    <a><img class="logo" src="{% static 'images/erro500.svg' %}" alt=""></a>
        <div class="box">
            <h1>Error 500</h1>
            <h2>Please contact your administrator</h2>
        </div>
    </div>

</body>
</html>