{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style-index.css' %}">
    <link rel="stylesheet" href="{% static 'css/fundo.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon-index.svg' %}" type="image/x-icon">

    <title>Home</title>

</head>
<body>

<nav>
    <a class="logo">Projeto SENAI</a>
        <ul class="left">
            <li><a href="http://localhost:8000/home" class="button001" >Home</a></li>
            <li><a href="http://localhost:8000/produtos" class="button001" >Produtos</a></li>
            <li><a href="http://localhost:8000/contato" class="button001" >Contato</a></li>
    </ul>
</nav>


<div class="container">
    <div class="box-1">


<h1>Projeto</h1>

    <div class="coment-1">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, perferendis! Ullam reprehenderit eius repellat velit eum dolorem voluptas consectetur ex officiis voluptate sed, consequatur nobis perspiciatis optio quaerat. Ipsum, </p>
<br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque possimus accusantium architecto obcaecati deleniti minima, quo voluptatem facilis pariatur minus, itaque delectus blanditiis modi voluptate hic iusto, illum ipsam at?Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quae laboriosam, architecto tempore reiciendis ut. Doloribus fuga alias enim quidem similique illum totam sunt molestias, voluptates labore hic esse eveniet. </p>

    </div>
</div>

<div class="box-2">

    <h2>Projeto</h2>

    <div class="coment-2">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, perferendis! Ullam reprehenderit eius repellat velit eum dolorem voluptas consectetur ex officiis voluptate sed, consequatur nobis perspiciatis optio quaerat. Ipsum, </p>
<br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque possimus accusantium architecto obcaecati deleniti minima, quo voluptatem facilis pariatur minus, itaque delectus blanditiis modi voluptate hic iusto, illum ipsam at?Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quae laboriosam, architecto tempore reiciendis ut. Doloribus fuga alias enim quidem similique illum totam sunt molestias, voluptates labore hic esse eveniet. </p>

    </div>
</div>

</div>

<footer>
    Copyright © 2021 - Gabriel Araujo
</footer>

</body>
</html>